:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77,181,255,.4);
    --color-white: #fff;
    --color-light: hsla(0,0%,100%,.6);
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

* {
    border: 3px solid rgb(153, 153, 9);
    margin: 0;
    padding: 0;
}

header {
  height: 100vh;
  padding-top: 7rem;
  /*overflow: hidden;*/
}

.header-container {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.downloads {
    margin-top: 25px;    
}

.downloads > .btn-one {
    color: var(--color-primary);
    padding: 15px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 7px;
}

.downloads > .btn-two {
    padding: 15px;
    text-decoration: none;
    background-color: var(--color-primary);

    border-radius: 7px;
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 300px;
}

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  color: red;
  border: 5px solid red;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}


.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  color: red;
}



body {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-bg);
    font-family: 'Helvetica', Courier, monospace, sans-serif;
    color: var(--color-primary);
    text-align: center;

}

.flex-container {
    display: flex;

}

header{

    color: var(--color-white);
    text-align: center;
    padding-top: 200px;
}

nav{
  list-style: none;
  position: fixed;
  width: 100%;
  font-family: Product Sans;
  font-size: 0;
  text-align:center;
  padding-left:0px;
  margin-top: -190px;
  
}

nav ul li a{
  width: 200px;
  height: 50px;
  display: inline-block;
  float: left;
  text-align: center;
  padding-top: 5px;
  background-color: transparent;
  font-size: 30px;
  color: var(--color-white);
}

h1, h2, h3, h4, h5 {
    color: white;
}

#about {
  height: 100vh;
  padding-top: 7rem;
  /*overflow: hidden;*/
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about-card {
    background-color: green;
}

.about_icon {
    background-color: yellow;
}

.descriptive-text {
    margin: 4rem 0rem 4rem 0rem;
    color: var(--color-light);
}

#experience {
    margin-top: 15rem;
}

.about-content > a {
        padding: 15px;
    text-decoration: none;
    background-color: var(--color-primary);

    border-radius: 7px;

}

#experience > h5 {
    color: var(--color-light);
}

#experience > h2 {
    color: var(--color-primary);
}


.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
}

.experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.experience-details {
    margin: 1rem;
}

#services h5 {
    color: var(--color-light);
}

#services h2 {
    color: var(--color-primary);
}

.container.services_container {
        display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  

}

.service {
    margin: 1rem;
    /* padding: 1rem; */
    border-radius: 0% 0% 10% 10%;

}

.service_head {
        background-color: var(--color-primary);

}

.service-list {
    padding: 1rem;
    background-color: var(--color-bg-variant);
        border-radius: 0% 0% 10% 10%;

}

li {
      list-style-type: none;
      /* gap: 1rem; */
      height: 2rem;
      margin-bottom: 1rem;
}

#portfolio h5{
    color: var(--color-light);
}

#portfolio h2 {
    color: var(--color-primary);
}

.container.portfolio_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#testimonials {
    margin-top: 5rem;
}

#testimonials h2 {
    color: var(--color-primary);
}

#testimonials h5 {

        color: var(--color-light);
}

.testimonials-container {
    padding: 1rem 3rem 1rem 3rem;
}

.each-testimonial {
    background-color: var(--color-bg-variant);
}

#contact {
    margin-top: 8rem;
}

#contact h2 {
    
    color: var(--color-primary); 
}

#contact h5 {
    color: var(--color-light);
}

.container.contact-container {
    width: 33%;
    margin: auto;
    overflow: hidden;
    
}

.contact_option {
    background-color: var(--color-bg-variant);
    margin-bottom: 2rem;
}

input, textarea {
    background-color: transparent;
}

.form-btn {
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 10%;
}

footer {
    background-color: var(--color-primary);
    margin-top: 8rem;
}

.permalinks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.permalinks-container a {
    
}

.permalinks-container a {

}






/* #fullstack-text {
    color: var(--color-light);
    font-size: 0.5rem;
    
}


.button-one {
    background-color: var(--background-color);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 5%;
    font-size: 0.5rem;
    padding: 10px;
}

.button-two {
    background-color: var(--color-primary);
    color: black;
    border-radius: 5%;
        font-size: 0.5rem;
    padding: 10px;
}

.socials {
    margin-left: 0;
}

#profile-pic {
    width: auto;
    height: 10rem;
}

.experience-container {
    display: flex;
    justify-content: center;
    background: blue;
    height: 400px;
}

.experience-container .first, .second, .third {
    background-color: red;
    height: 200px;
    width: 150px;
    margin: 5px;

} */